<conf>
<wordlist>
<!-- Here you can swtich between <path></path> and <url></url>-->
<!--<path>example.txt</path>-->
<!--<url>https://raw.githubusercontent.com/bitcoin/bips/master/bip-0039/english.txt</url>-->
<mnemonic>true</mnemonic>
<!--<mnemonic>true</mnemonic>-->
</wordlist>
<apietherscanio>
<!--Here is Etherscan API--> 
<api>YOURETHERSCANIOAPI</api>
</apietherscanio>
<statistics>
<!--<totalchecked>false</totalchecked>-->
<totalchecked>true</totalchecked>
<bip39fail>true</bip39fail>
<!--<bip39fail>false</bip39fail>-->
</statistics>
<seedphrase>
<skiplist>false</skiplist>
<!--<skiplist>true</skiplist>-->
</seedphrase>
</conf>
<!--cheats-->
<!-- pip install mnemonic eth-account requests -->
<!-- sudo chmod a+r /root/mnemonicsb/example.txt -->

